.featurecard{
     margin: 10px;
      text-align: center;
       width: 150px;
       border-radius: 10px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
       padding: 10px;
       
}
.featurecard:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.featureImg{
   width: 100px;
    height: 100px;

}
